// base
* {
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  color: $primary;
}

a {
  text-decoration: none;
  color: $primary;
}

.container-fluid {
  width: 100vw;
}

.container {
  width: 1410px;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.border-primary-light {
  border: 1px solid $primary-light;
}